<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Movie Ticket Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>

<h1>Movies List</h1>

<h1>This application is written to book movie tickets</h1>

<table class="table">
    <tr>
        <th>Movie Id</th>
        <th>Title</th>
        <th>Runtime</th>
        <th>Released in </th>
        <th> To book</th>
    </tr>
    <tr th:each="d : ${data}">
        <td th:text="${d.imdbid}"></td>
        <td th:text="${d.title}"></td>
        <td th:text="${d.runtime}"></td>
        <td th:text="${d.released}"></td>
        <td><button type="submit" class="btn btn-primary">BOOK</button></td>
    </tr>
</table>


</body>

</html>